<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
  </head>

  <body>
  <div class="banner navbar-wagon">
    <%= link_to cocktails_path do %>
      <i class="fa fa-glass" aria-hidden="true"></i>
      Drinkers
    <% end %>
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <%= link_to "Check at Cocktails List", cocktails_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Add a Cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
   </div>

    <%= yield %>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </body>
</html>
